.launcher-root {
    color-scheme: dark;
    color: #fff;
    font-family: "Droid Sans", "Roboto", sans-serif;
    font-size: 14px;

    box-sizing: border-box;
    margin: 0;
    user-select: none;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
    }
}
